<div class="header-clear-medium mt-n4">
	<% if request.user_agent.include?('Mobile') %>
		<div class="pricing-4 rounded-m shadow-m bg-theme">
			  <h1 class="pricing-title text-center bg-green-dark text-uppercase">Basic</h1>
			  <h3 class="pricing-value text-center bg-green-light color-white"><%= number_to_currency(@oneTimePrice['unit_amount'] * 0.01, precision: 2) %></h3>
			  <h2 class="pricing-subtitle text-center bg-green-light">Per <%= @oneTimePrice['recurring']['interval'].titleize %></h2>
			  <ul class="pricing-list text-center">
		      <li>Demo File</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Free Install</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Product Guide</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Lifetime Updates</li>
	        <div class="divider mb-2 mt-1"></div>

			  </ul>
			  <% if current_user %>
				  <% if subscriptions.map{|d|d[:price]}.include?(@oneTimePrice['id']) %>
					  <p class="text-center color-gray-dark small-text font-10 uppercase mt-2 mb-0 pb-0">Your Current Plan</p>
					<% else %>
					  <a href="<%= @authBasicSession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
					<% end %>
			  <% else %>
				  <a href="<%= @basicSession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
			  <% end %>
			</div>
			<div class="pricing-4 rounded-m shadow-m bg-theme">
			  <h1 class="pricing-title text-center bg-green-dark text-uppercase">Executive</h1>
			  <h3 class="pricing-value text-center bg-green-light color-white"><%= number_to_currency(@twoTimePrice['unit_amount'] * 0.01, precision: 2) %></h3>
			  <h2 class="pricing-subtitle text-center bg-green-light">Per <%= @twoTimePrice['recurring']['interval'].titleize %></h2>
			  <ul class="pricing-list text-center">
		      <li>Demo File</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Free Install</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Product Guide</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Lifetime Updates</li>
	        <div class="divider mb-2 mt-1"></div>

			  </ul>
			  <% if current_user %>
			  	<% if subscriptions.map{|d|d[:price]}.include?(@twoTimePrice['id']) %>
					  <p class="text-center color-gray-dark small-text font-10 uppercase mt-2 mb-0 pb-0">Your Current Plan</p>
					<% else %>
					  <a href="<%= @authBizSession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
					<% end %>
			  <% else %>
				  <a href="<%= @bizSession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
			  <% end %>
			</div>
			<div class="pricing-4 rounded-m shadow-m bg-theme">
			  <h1 class="pricing-title text-center bg-green-dark text-uppercase">Equity &amp; Inclusion</h1>
			  <h3 class="pricing-value text-center bg-green-light color-white"><%= number_to_currency(@threeTimePrice['unit_amount'] * 0.01, precision: 2) %></h3>
			  <h2 class="pricing-subtitle text-center bg-green-light">Per <%= @threeTimePrice['recurring']['interval'].titleize %></h2>
			  <ul class="pricing-list text-center">
		      <li>Demo File</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Free Install</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Product Guide</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Lifetime Updates</li>
	        <div class="divider mb-2 mt-1"></div>

			  </ul>
			  <% if current_user %>
				  <% if subscriptions.map{|d|d[:price]}.include?(@threeTimePrice['id']) %>
					  <p class="text-center color-gray-dark small-text font-10 uppercase mt-2 mb-0 pb-0">Your Current Plan</p>
					<% else %>
					  <a href="<%= @authEquitySession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
					<% end %>
			  <% else %>
				  <a href="<%= @equitySession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
			  <% end %>
			</div>
  <% else %>
		<div class="row">
			<div class="pricing-4 rounded-m shadow-m bg-theme">
			  <h1 class="pricing-title text-center bg-green-dark text-uppercase"><%= Stripe::Product.retrieve(@oneTimeProduct['id'], {stripe_account: ENV['appStripeAccount']})['name'] %></h1>
			  <h3 class="pricing-value text-center bg-green-light color-white"><%= number_to_currency(@oneTimePrice['unit_amount'] * 0.01, precision: 2) %></h3>
			  <h2 class="pricing-subtitle text-center bg-green-light">Per <%= @oneTimePrice['recurring']['interval'].titleize %></h2>
			  <ul class="pricing-list text-center">
		      <li>Demo File</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Free Install</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Product Guide</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Lifetime Updates</li>
	        <div class="divider mb-2 mt-1"></div>

			  </ul>
			  <% if current_user %>
				  <% if subscriptions.map{|d|d[:price]}.include?(@oneTimePrice['id']) %>
				  	<% subscriptions.each do |subscX| %>
				  		<% if subscX[:price] == @oneTimePrice['id'] %>
					  		<% if subscX[:active] == true %>
								  <p class="text-center color-gray-dark small-text font-10 uppercase mt-2 mb-0 pb-0">Your Current Plan</p>
					  		<% else %>
								  <a href="/resume-membership/<%= subscX[:subscription] %>" class="btn btn-s bg-blue-dark btn-center-l text-uppercase rounded-s font-900">Resume</a>
						  	<% end %>
					  	<% end %>
				  	<% end %>

					<% else %>
					  <a href="<%= @authBasicSession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
					<% end %>
			  <% else %>
				  <a href="<%= @basicSession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
			  <% end %>
			</div>
			<div class="pricing-4 rounded-m shadow-m bg-theme">
			  <h1 class="pricing-title text-center bg-green-dark text-uppercase"><%= Stripe::Product.retrieve(@twoTimeProduct['id'], {stripe_account: ENV['appStripeAccount']})['name'] %></h1>
			  <h3 class="pricing-value text-center bg-green-light color-white"><%= number_to_currency(@twoTimePrice['unit_amount'] * 0.01, precision: 2) %></h3>
			  <h2 class="pricing-subtitle text-center bg-green-light">Per <%= @twoTimePrice['recurring']['interval'].titleize %></h2>
			  <ul class="pricing-list text-center">
		      <li>Demo File</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Free Install</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Product Guide</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Lifetime Updates</li>
	        <div class="divider mb-2 mt-1"></div>

			  </ul>
			  <% if current_user %>
			  	<% if subscriptions.map{|d|d[:price]}.include?(@twoTimePrice['id']) %>
						<% subscriptions.each do |subscX| %>
							<% if subscX[:price] == @twoTimePrice['id'] %>
					  		<% if subscX[:active] == true %>
								  <p class="text-center color-gray-dark small-text font-10 uppercase mt-2 mb-0 pb-0">Your Current Plan</p>
					  		<% else %>
								  <a href="/resume-membership/<%= subscX[:subscription] %>" class="btn btn-s bg-blue-dark btn-center-l text-uppercase rounded-s font-900">Resume</a>
						  	<% end %>
					  	<% end %>
				  	<% end %>
					<% else %>
					  <a href="<%= @authBizSession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
					<% end %>
			  <% else %>
				  <a href="<%= @bizSession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
			  <% end %>
			</div>
			<div class="pricing-4 rounded-m shadow-m bg-theme">
			  <h1 class="pricing-title text-center bg-green-dark text-uppercase"><%= Stripe::Product.retrieve(@threeTimeProduct['id'], {stripe_account: ENV['appStripeAccount']})['name'] %></h1>
			  <h3 class="pricing-value text-center bg-green-light color-white"><%= number_to_currency(@threeTimePrice['unit_amount'] * 0.01, precision: 2) %></h3>
			  <h2 class="pricing-subtitle text-center bg-green-light">Per <%= @threeTimePrice['recurring']['interval'].titleize %></h2>
			  <ul class="pricing-list text-center">
		      <li>Demo File</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Free Install</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Product Guide</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Lifetime Updates</li>
	        <div class="divider mb-2 mt-1"></div>

			  </ul>
			  <% if current_user %>
				  <% if subscriptions.map{|d|d[:price]}.include?(@threeTimePrice['id']) %>
					  <% subscriptions.each do |subscX| %>
					  	<% if subscX[:price] == @threeTimePrice['id'] %>
					  		<% if subscX[:active] == true && subscX[:price]%>
								  <p class="text-center color-gray-dark small-text font-10 uppercase mt-2 mb-0 pb-0">Your Current Plan</p>
					  		<% else %>
								  <a href="/resume-membership/<%= subscX[:subscription] %>" class="btn btn-s bg-blue-dark btn-center-l text-uppercase rounded-s font-900">Resume</a>
						  	<% end %>
					  	<% end %>
				  	<% end %>
					<% else %>
					  <a href="<%= @authEquitySession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
					<% end %>
			  <% else %>
				  <a href="<%= @equitySession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
			  <% end %>
			</div>

			<div class="pricing-4 rounded-m shadow-m bg-theme">
			  <h1 class="pricing-title text-center bg-green-dark text-uppercase"><%= Stripe::Product.retrieve(@fourTimeProduct['id'], {stripe_account: ENV['appStripeAccount']})['name'] %></h1>
			  <h3 class="pricing-value text-center bg-green-light color-white"><%= number_to_currency(@fourTimePrice['unit_amount'] * 0.01, precision: 2) %></h3>
			  <h2 class="pricing-subtitle text-center bg-green-light">Per <%= @fourTimePrice['recurring']['interval'].titleize %></h2>
			  <ul class="pricing-list text-center">
		      <li>Demo File</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Free Install</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Product Guide</li>
	        <div class="divider mb-2 mt-1"></div>
		      <li>Lifetime Updates</li>
	        <div class="divider mb-2 mt-1"></div>

			  </ul>
			  <% if current_user %>
				  <% if subscriptions.map{|d|d[:price]}.include?(@fourTimePrice['id']) %>
					  <% subscriptions.each do |subscX| %>
					  	<% if subscX[:price] == @threeTimePrice['id'] %>
					  		<% if subscX[:active] == true && subscX[:price]%>
								  <p class="text-center color-gray-dark small-text font-10 uppercase mt-2 mb-0 pb-0">Your Current Plan</p>
					  		<% else %>
								  <a href="/resume-membership/<%= subscX[:subscription] %>" class="btn btn-s bg-blue-dark btn-center-l text-uppercase rounded-s font-900">Resume</a>
						  	<% end %>
					  	<% end %>
				  	<% end %>
					<% else %>
					  <a href="<%= @authEquitySession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
					<% end %>
			  <% else %>
				  <a href="<%= @equitySession['url'] %>" class="btn btn-s bg-green-dark btn-center-l text-uppercase rounded-s font-900">Join</a>
			  <% end %>
			</div>
		</div>
  <% end %> 
</div>
